@model IEnumerable<MvcAuth.Controllers.CourseFalse>

@{
    ViewBag.Title = "ApproveCourses";
}

<h2>Approve Courses</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentCourse)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentCourse)
            </td>
            <td>
                @Html.ActionLink("Approve", "Approve", new { id = item.RegId })
            </td>
        </tr>
    }

</table>
